html,
body {
    font-family: "Inter", "Arial", sans-serif;
}

body {
    @apply bg-black text-white;
}

.heading {
    .title {
        @apply text-4xl font-bold mb-2;
    }
    .subtitle {
        @apply text-base text-zinc-400;
    }
}

@import "./section-intro.scss";
@import "./section-mint.scss";
@import "./section-vote.scss";
@import "./section-faq.scss";
