html,
body {
    font-family: "Inter", "Arial", sans-serif;
}

body {
    @apply bg-black text-white;
}

.heading {
    .title {
        @apply text-4xl font-bold mb-2;
    }
    .subtitle {
        @apply text-base text-zinc-400;
    }
}

.btn {
    @apply inline-block border-2 border-white;

    &:hover {
        @apply bg-white text-black;
    }

    &:disabled {
        @apply bg-gray-400 text-gray-700 cursor-not-allowed;
    }
}

@import "./section-intro.scss";
@import "./section-gallery.scss";
@import "./section-mint.scss";
@import "./section-vote.scss";
