.section-vote {
    @apply py-8;

    .vote-card {
        @apply bg-zinc-800 rounded;
        @apply py-4 px-4 mt-8;

        .vote-btn {
            @apply w-full py-2 text-base font-bold rounded-md;
            @apply bg-zinc-600 text-white;
            @apply transition-colors duration-200;
            &:hover {
                @apply bg-zinc-500;
            }
        }
    }

    .color-palette {
        .colors {
            @apply flex flex-wrap gap-4;
            .color {
                @apply w-8 h-8 rounded-sm;
            }
        }
        .color-vote {
            @apply mt-4;
        }
    }

    .subject {
        .title {
            @apply text-lg font-bold;
        }

        .subject-vote {
            @apply mt-2;
        }
    }
}
