.section-draw {

    .past-draws {

        & > .title {
            @apply mb-4;
            @apply text-2xl font-bold;
        }

        .cards {
            @apply flex flex-wrap gap-2; 

            & > .card {
                & > div {
                    @apply mb-2;
                }
                
                @apply inline-block text-center p-2;
                @apply border-2 border-white;
                @apply bg-black text-white font-bold text-lg;

                span {
                    @apply block mt-2;
                }
            }
        }
    }
}