.section-intro {
    @apply py-12;

    .intro {
        @apply relative;
        &::before {
            z-index: -9999;
            @apply absolute inset-0 opacity-10;
            content: "";
            background: url("../img/base-logo.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        p.primary-text {
            @apply text-3xl md:text-5xl leading-normal md:leading-normal;
        }

        p.secondary-text {
            @apply text-base py-4;
        }

        .links {
            & > a {
                @apply px-6 py-4 text-xl;

                &:first-child {
                    @apply bg-blue-500 hover:bg-blue-600 hover:text-white  border-blue-600 mr-4 mb-6;
                }
                &:last-child {
                    @apply border-gray-200;
                }
            }
        }
    }

    .image {
        max-height: 600px;
        @apply mt-16 lg:mt-0 rounded-xl overflow-hidden;

        & > div {
            @apply mx-auto border-gray-800 border-8 rounded;
        }
    }
}
