.section-vote {
    @apply py-8;

    .vote-card {
        @apply bg-black border-2 border-white;
        @apply py-6 px-4 mt-8;

        .vote-btn {
            @apply w-full py-2 text-base font-bold mt-2;
            @apply bg-white text-black;
            @apply transition-colors duration-200;
            &:hover {
                @apply bg-gray-300;
            }

            &:disabled {
                @apply bg-gray-300 hover:cursor-not-allowed;
            }
        }
    }

    .color-palette {
        .colors {
            @apply flex flex-wrap gap-4;
            .color {
                @apply w-8 h-8 rounded-sm;
            }
        }
        .color-vote {
            @apply mt-4;
        }
    }

    .subject {
        .title {
            @apply text-lg font-bold;
        }

        .subject-vote {
            @apply mt-2;
        }
    }
}
