.section-faq {
    @apply p-8;

    .accordion {
        @apply mt-4 max-w-[900px];

        &-item {
            &.active {
                .accordion-title {
                    @apply bg-white text-black;
                }

                .accordion-content {
                    @apply block;
                }
            }

            @apply border border-white my-4;

            .accordion-title {
                @apply w-full flex justify-between items-center p-4 cursor-pointer font-semibold;
            }

            .accordion-content {
                @apply hidden;
                @apply p-4;
            }
        }
    }
}
