version: 2
updates:
    - package-ecosystem: "npm"
      directory: "/"
      schedule:
          interval: "daily"
      commit-message:
          prefix: "chore(deps):"
      labels:
          - "dependencies"
      groups:
          critical-updates:
              applies-to: security-updates
              patterns: "*"
          core-upgrades:
              applies-to: version-updates
              patterns: "*"
              update-types:
                  - "minor"
                  - "patch"
