.backdrop {
    @apply fixed top-0 left-0 w-full h-full z-[1000];
    background-color: rgba(0, 0, 0, 0.7);
}

.modal {
    @apply fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-[1001];
    @apply px-7 py-5;
    @apply bg-zinc-950 border-2 border-white text-white;

    .icon {
        @apply mb-4;
        @apply text-white;

        >svg {
            @apply block mx-auto;
        }
    }

    .message {
        @apply text-sm md:text-xl font-semibold;
    }

    .buttons {
        @apply flex justify-center mt-5;

        button {
            @apply px-4 py-2 text-sm md:text-lg text-white font-semibold;

            &.cancel {
                @apply bg-black border-2 border-white;

                &:hover {
                    @apply bg-white text-black;
                }
            }

            &.confirm {
                @apply bg-red-800 hover:bg-red-600 mr-3;
            }
        }
    }
}

