.section-faq-admin {
    ul {
        @apply mt-4;

        & > li {
            @apply flex justify-between items-center px-4 py-4 mb-2;
            @apply border-2 border-white;

            a {
                @apply bg-black hover:bg-white border-2 border-white;
                @apply text-white hover:text-black font-semibold;
                @apply px-2 py-1;
            }
        }
    }
}
