.form {
    .form-group {
        @apply mb-4;

        label {
            @apply block text-white font-semibold;
            @apply mb-2;
        }

        input {
            @apply w-full px-4 py-2 border-2 border-black text-black;
        }

        textarea {
            @apply w-full px-4 py-2 border-2 border-black text-black;
        }

        button {
            @apply px-4 py-2 font-semibold;
            @apply mr-4;

            &.delete-btn {
                @apply bg-red-700 hover:bg-red-800 hover:text-white;
            }
        }
    }
}
