.admin {
    @apply py-8;

    .menu {
        @apply border-2 border-white;

        ul {
            @apply text-lg text-center font-semibold;
            li {
                @apply relative py-3 border-b-2 border-white last:border-b-0;

                & > a {
                    &:hover {
                        @apply text-amber-400;
                    }

                    &:before {
                        @apply absolute left-0 w-full h-full;
                        content: "";
                    }
                }
            }
        }
    }
}

@import "./section-faq-admin.scss";
